/* css for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css for navbar */
header {
    height: 100vh;
    width: 100%;
    background: url('/IMGS/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* css for navbar */

.logo img {
    height: 80px;
    margin: 20px 0 0 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav .menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: 'Pacifico', cursive;
}
nav .menu a:hover{
    text-decoration: underline;
}
nav button {
    padding: 10px;
    width: 100px;
    margin-right: 30px;
    background-color: rgb(64, 167, 285);
    cursor: pointer;
}

/* css for main_header section */

.header_outerdiv {
    display: flex;
    justify-content: space-around;
}

.header_innerdiv div {
    background-color: rgb(64, 167, 285);
    width: 50%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    word-spacing: 5px;
    cursor: pointer;
}

.header_innerdiv {
    margin-top: 120px;
}

div>a{
text-decoration: none;
color: #000;
}

#header_innerdiv2 {
    margin-top: 35px;
}
#header_innerdiv2 img{
    height: 400px;
    border-radius: 10px;
    
}

.header_innerdiv h3, h1, h4 {
    margin: 20px 0;
    font-family: 'Patrick Hand', cursive;
}

/* css for footer */
footer{
    text-align: center;
    background-color: cadetblue;
    margin: 0;
}

@media only screen and (max-width:1000px){
 
    #header_innerdiv2 img{
       display: none;
    }
    .header_outerdiv{
        flex-direction: column;
        align-items: center;
        background: url('/IMGS/mainimg2.jpg');
    }
    #header_innerdiv1 div{
        height: 50px;
        
    }
}